/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12 janv. 2015, 22:05:53
    Author     : herauste
*/

h2 {
    margin-bottom: 5px;
}

#clock {
    height: 15px;
    margin-left: 50px; 
    font-size : 14pt;
}

#hour {
    font-weight: bold;
}

#bclock {
    margin: 10px 0 0 35px;
}

#deplace {
    height: 100px;
}

#bdeplace, #bdiapo {
    text-align: center;
}

.bouton {
    margin: 0 10px;
    width: 70px;
}

#img1 {
    position: absolute;
}

#img2 {
    width: 400px;
    height: 300px;
    text-align: center;
}

#diapo {
    text-align: center;    
}

